{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="niveaux-container">

{% for niveau in niveaux %}
    <div class="niveau-card"
        onclick="window.location.href='{% url 'detail_niveau' niveau.id %}'">

        <div class="image-wrapper">

            <!-- Image de décor -->
            {% if niveau.illustration2 %}
                <img src="{{ niveau.illustration2.url }}" class="image decor"  onmouseover="playAudio('{{ niveau.audio2.url }}')">
            {% endif %}

            <!-- Image du personnage -->
            {% if niveau.illustration %}
                <img src="{{ niveau.illustration.url }}" class="image perso"  onmouseover="playAudio('{{ niveau.audio.url }}')">
                
            {% endif %}

        </div>

       
    </div>
{% endfor %}

</div>

<audio id="player"></audio>

<script>
function playAudio(src) {
    const player = document.getElementById('player');
    player.src = src;
    player.play();
}
</script>

{% endblock %}
